.popup__info-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0 0;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 568px) {
  .popup__info-list {
    font-size: 10px;
    line-height: 12px;
  }
}
